#slides-1, #slides-2 {
  position: relative;
}
#slides-1 .slides-container, #slides-2 .slides-container {
  display: none;
}

.slides-container .container {
  color: #fff;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 20px 10px;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}

#slides-1 .scrollable, #slides-2 .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides-1 .scrollable:after, #slides-2 .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background-color: #2f3790;
  padding: 10px 10px 8px 10px;
  color: #fff;
  text-decoration:none;
  display: block;
}

.slides-navigation a:hover {
  background-color: #fff;
  color: #2f3790;
}

.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  display: none;
  position: absolute;
  z-index: 3;
  top: 620px;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}
