
//**********Colors**********//

$primary-color: #FBDD47; //yellow//
$secondary-color: #57B9BD; //teal//
$third-color: #F87526; //orange//
$green: #9ee249;
$fourth-color: #2eb040;
$dark-gray: #31383F;
$med-gray: #68686e;
$light-gray: #F0F1F3;

//**********Fonts**********//

$primary-font: 'Lato', Helvetica, Arial, sans-serif;

//**********Padding*********//

$default-container-padding: 2.75em 5em;