body {
	font-family: $primary-font;
}

h1 {
	font-family: $secondary-font;
	text-transform: uppercase;
	color: $dark-purple;
	font-size: 32px;
	letter-spacing: 3px;
	margin: auto;
	text-align: center;

	@media screen and (max-width: 500px) {
			font-size: 24px;
		}
}

.vimeo-embed-container {
	max-width: 800px;
	margin: 0 auto;
}

a {
	color: $purple;

	&:hover {
		color: lighten($purple, 10%);
	}

	&:visited {
		color: $purple;
	}
}

p {
	font-size: 16px;
	line-height: 30px;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 500px) {
			font-size: 16px;
			line-height: 20px;
		}
}

.download {
	display: block;
	border: 2px solid #fff;
	text-transform: uppercase;
	background: none;
	padding: 20px 30px;
	color: #fff;
	text-decoration: none;
	margin: 25px auto 0;
	transition: background-color .1s ease-in;
	-webkit-transition: background-color .1s ease-in;
	-moz-transition: background-color .1s ease-in;
	width: 270px;
	box-sizing: border-box;
	font-family: $secondary-font;
	font-weight: bold;
	letter-spacing: 3px;
}

#header {

	a {
		text-decoration: none;
		color: #fff;
		font-size: 24px;
		display: block;
		margin: 0 auto;
		width: 270px;

		&:hover {
			.download {
				background: #fff;
				color: $dark-purple;
			}
		}
	}

	img {
		z-index: 15;
		margin: auto;
		width: 800px;
		height: auto;
		margin-top: 200px;

			@media screen and (max-width: 815px) {
				width: 80%;
				height: auto;
			}

			@media screen and (max-width: 710px) {
				margin-top: 120px;
			}
	}

	p {
		color: #fff;
		max-width: 650px;
		margin: auto;
		text-align: center;
		font-size: 24px;
		line-height: 30px;

		@media screen and (max-width: 620px) {
			width: 450px;
		}

		@media screen and (max-width: 450px) {
			width: 350px;
		}

		@media screen and (max-width: 400px) {
			width: 280px;
		}
	}

	background: url('../images/header-bg2.jpg') no-repeat center top scroll;
	background-size: cover;
	height: 650px;
	width: 100%;
	text-align: center;

	@media screen and (max-width: 710px) {
		height: 470px;
		margin-top:65px;
	}

	
}

#music, #about, #shows, #contact, #news {
	padding: 50px 10px;
	text-align: center;

	@media screen and (max-width: 500px) {
		padding: 30px 10px;
	}

	h1 {
		margin-bottom: 25px;

		@media screen and (max-width: 500px) {
			margin-bottom: 15px;
		}
	}
}

#contact {
	background: #f0f0f0;
}

#music {
	.bcembed {
		display: block;
		margin: 0 auto 25px;
		width: 400px;

		@media screen and (max-width: 420px) {
			width: 90%;
		}
	}
}

#newsletter {
	padding: 50px 10px;
	text-align: center;
	width: 100%;
	background-color: $dark-purple;

	h1 {
	font-family: $primary-font;
	text-transform: uppercase;
	color: #fff;
	font-size: 32px;
	letter-spacing: 3px;
	margin: auto;
	text-align: center;
	font-weight: bold;

	@media screen and (max-width: 500px) {
			font-size: 36px;
		}
}

	p {
		font-size: 16px;
		text-align: center;
		line-height: 30px;
		color: #fff;
		margin: 0 auto 20px;
		width: 80%;
		padding: 0;

		@media screen and (max-width: 500px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

#shows {
	background-color: #f0f0f0;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: block;
			max-width: 650px;
			padding: 10px;
			border: 2px solid $dark-purple;
			margin: 0 auto 5px;
			box-sizing: border-box;
			text-transform: uppercase;
			text-align: left;

			a {
				text-decoration: none;
				color: $dark-purple;

				&:hover {
					color: #fff;
				}
			}

			&:hover {
				background-color: $dark-purple;
				color: #fff;
				border-color: $dark-purple;

				a {
					color: #fff;
				}
			}
		}
	}
}


#music .video-container {
	margin: auto;
}

#music .body-text {
	width: 70%;
	margin: auto;
}

#music p {
	margin: 0 auto 15px;
	padding: 0 15px;
}

.soundcloud {
	margin-bottom: 50px;

	.g-background-default {
		background-color: #fff;
	}
}

.video-js {
	margin: 0 auto;

	.vjs-big-play-button {
		background-color: $purple;
		opacity: .8;
		font-size: 4.5em;

		&:hover {
			background-color: lighten($purple, 10%);
		}
	}
}

.my-video-dimensions {
	@media screen and (max-width: 640px) {
		width: 100%;
		height: 400;
	}
}

.more-button {
	border: 2px solid $dark-purple;
	color: $dark-purple;
	text-decoration: none;
	box-shadow: none;
	text-shadow: none;
	background-color: transparent;
	padding: 10px 20px;
	margin-top: 10px;
	font-family: $secondary-font;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 14px;
	transition: background-color .1s ease-in;
	-webkit-transition: background-color .1s ease-in;
	-moz-transition: background-color .1s ease-in;

	&:hover {
		background-color: $dark-purple;
		color: #fff;
	}
}

#news {

	text-align: left;

	h2 {
		font-family: $secondary-font;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	.press, .twitter, .instagram {
		display: inline-block;
		box-sizing: border-box;
		padding: 0 15px;
		vertical-align: top;
	}
	.press {
		width: 49%;

		.press-block {

			img {
				max-width: 100%;
				height: auto;
				margin: 5px 0;
			}

			a {
				text-decoration: none;
				color: $dark-purple;

				&:hover {
					color: lighten($dark-purple, 10%);
				}
			}

			h3 {
				margin-bottom: 5px;
				font-family: $secondary-font;
				font-size: 18px;
			}
			p {
				font-size: 14px;
				line-height: 22px;
				color: $med-gray;
			}
		}
	}
	.twitter, .instagram {
		width: 25%;

		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 10px;
		}
	}

	.content-container {
		max-width: 1000px;
		margin: 0 auto;
	}
}

a.timeline-widget {
  /* Buttonish */
  display: inline-block;
  padding: 6px 12px 6px 30px;
  margin: 10px 0;
  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNzIgNzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDcyIDcyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IHg9IjAiIGZpbGw9Im5vbmUiIHdpZHRoPSI3MiIgaGVpZ2h0PSI3MiIvPg0KPHBhdGggZmlsbD0iIzU1YWNlZSIgZD0iTTY4LjgxMiwxNS4xNDFjLTIuMzQ4LDEuMDM5LTQuODY5LDEuNzQzLTcuNTE5LDIuMDZjMi43MDMtMS42Miw0Ljc3OC00LjE4Nyw1Ljc1Ni03LjI0NGMtMi41MjksMS41LTUuMzMsMi41OTItOC4zMTMsMy4xNzYNCglDNTYuMzQ5LDEwLjU5MSw1Mi45NDgsOSw0OS4xODIsOWMtNy4yMjksMC0xMy4wOTIsNS44NjEtMTMuMDkyLDEzLjA5M2MwLDEuMDI2LDAuMTE4LDIuMDIxLDAuMzM4LDIuOTgxDQoJYy0xMC44ODUtMC41NDgtMjAuNTI4LTUuNzU3LTI2Ljk4Ny0xMy42NzljLTEuMTI2LDEuOTM2LTEuNzcxLDQuMTg0LTEuNzcxLDYuNTgxYzAsNC41NDIsMi4zMTIsOC41NTEsNS44MjQsMTAuODk4DQoJYy0yLjE0Ni0wLjA2OS00LjE2NS0wLjY1Ny01LjkzLTEuNjM4Yy0wLjAwMiwwLjA1NS0wLjAwMiwwLjExLTAuMDAyLDAuMTYyYzAsNi4zNDUsNC41MTMsMTEuNjM4LDEwLjUwNCwxMi44NA0KCWMtMS4xMDEsMC4yOTgtMi4yNTYsMC40NTctMy40NDksMC40NTdjLTAuODQ2LDAtMS42NjctMC4wNzgtMi40NjUtMC4yMzFjMS42NjcsNS4yLDYuNDk5LDguOTg2LDEyLjIzLDkuMDkNCgljLTQuNDgyLDMuNTEyLTEwLjEyOSw1LjYwNi0xNi4yNiw1LjYwNmMtMS4wNTUsMC0yLjA5Ni0wLjA2MS0zLjEyMi0wLjE4NGM1Ljc5NCwzLjcxNywxMi42NzYsNS44ODIsMjAuMDY3LDUuODgyDQoJYzI0LjA4MywwLDM3LjI1MS0xOS45NDksMzcuMjUxLTM3LjI0OWMwLTAuNTY2LTAuMDE0LTEuMTM0LTAuMDM5LTEuNjk0QzY0LjgzOCwyMC4wNjgsNjcuMDU4LDE3Ljc2NSw2OC44MTIsMTUuMTQxeiIvPg0KPC9zdmc+DQo=") 8px 8px no-repeat;
  background-size: 1em 1em;
 
  /* Text */
  font: normal 12px/18px 'Abel', Helvetica, Arial, sans-serif;
  color: #333;
  white-space: nowrap;
}
