body {
	font-family: $primary-font;
}

h1 {
	font-family: $secondary-font;
	text-transform: uppercase;
	color: $dark-purple;
	font-size: 50px;
	margin: auto;
	text-align: center;

	@media screen and (max-width: 500px) {
			font-size: 36px;
		}
}

a {
	color: $purple;

	&:hover {
		color: lighten($purple, 10%);
	}

	&:visited {
		color: $purple;
	}
}

p {
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 500px) {
			font-size: 14px;
			line-height: 20px;
		}
}

#header {

	img {
		z-index: 15;
		margin: auto;
		width: 800px;
		height: auto;
		margin-top: 250px;

			@media screen and (max-width: 815px) {
				width: 80%;
				height: auto;
			}

			@media screen and (max-width: 710px) {
				margin-top: 200px;
			}
	}

	p {
		color: #fff;
		width: 620px;
		margin: auto;
		text-align: center;

		@media screen and (max-width: 620px) {
			width: 450px;
		}

		@media screen and (max-width: 450px) {
			width: 350px;
		}

		@media screen and (max-width: 400px) {
			width: 280px;
		}
	}

	background: url('../images/header-bg.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 600px;
	width: 100%;
	text-align: center;

	@media screen and (max-width: 710px) {
		height: 450px;
	}

	
}

#music, #about, #shows, #contact {
	padding: 50px 10px;
	text-align: center;

	@media screen and (max-width: 500px) {
		padding: 30px 10px;
	}

	h1 {
		margin-bottom: 25px;

		@media screen and (max-width: 500px) {
			margin-bottom: 15px;
		}
	}
}

#newsletter {
	padding: 50px 10px;
	text-align: center;
	width: 100%;
	background-color: $dark-purple;

	h1 {
	font-family: $secondary-font;
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
	margin: auto;
	text-align: center;

	@media screen and (max-width: 500px) {
			font-size: 36px;
		}
}

	p {
		font-size: 18px;
		text-align: center;
		line-height: 30px;
		color: #fff;
		margin: 0 auto 20px;
		width: 80%;
		padding: 0;

		@media screen and (max-width: 500px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

#shows {
	background-color: #f0f0f0;
}


#music .video-container {
	margin: auto;
}

#music .body-text {
	width: 70%;
	margin: auto;
}

#music p {
	margin: 0 auto 15px;
	padding: 0 15px;
}

.soundcloud {
	margin-bottom: 50px;
}