body {
	font-family: $primary-font;
}

h1 {
	font-family: $primary-font;
	text-transform: uppercase;
	color: $dark-purple;
	font-size: 50px;
	margin: auto;
	text-align: center;

	@media screen and (max-width: 500px) {
			font-size: 36px;
		}
}

a {
	color: $purple;

	&:hover {
		color: lighten($purple, 10%);
	}

	&:visited {
		color: $purple;
	}
}

p {
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 500px) {
			font-size: 16px;
			line-height: 20px;
		}
}

.download {
	display: block;
	border: 2px solid #fff;
	text-transform: uppercase;
	background: none;
	padding: 20px 30px;
	color: #fff;
	text-decoration: none;
	margin: 15px auto 0;
	width: 270px;
	box-sizing: border-box;
}

#header {

	a {
		text-decoration: none;
		color: #fff;
		font-size: 24px;
		display: block;
		margin: 0 auto;
		width: 270px;

		&:hover {
			.download {
				background: #fff;
				color: $dark-purple;
			}
		}
	}

	img {
		z-index: 15;
		margin: auto;
		width: 800px;
		height: auto;
		margin-top: 200px;

			@media screen and (max-width: 815px) {
				width: 80%;
				height: auto;
			}

			@media screen and (max-width: 710px) {
				margin-top: 120px;
			}
	}

	p {
		color: #fff;
		width: 620px;
		margin: auto;
		text-align: center;
		font-size: 24px;
		line-height: 30px;

		@media screen and (max-width: 620px) {
			width: 450px;
		}

		@media screen and (max-width: 450px) {
			width: 350px;
		}

		@media screen and (max-width: 400px) {
			width: 280px;
		}
	}

	background: url('../images/header-bg2.jpg') no-repeat center top scroll;
	background-size: cover;
	height: 650px;
	width: 100%;
	text-align: center;

	@media screen and (max-width: 710px) {
		height: 470px;
		margin-top:65px;
	}

	
}

#music, #about, #shows, #contact {
	padding: 50px 10px;
	text-align: center;

	@media screen and (max-width: 500px) {
		padding: 30px 10px;
	}

	h1 {
		margin-bottom: 25px;

		@media screen and (max-width: 500px) {
			margin-bottom: 15px;
		}
	}
}

#music {
	.bcembed {
		display: inline-block;
		width: 400px;

		@media screen and (max-width: 420px) {
			width: 90%;
		}
	}
}

#newsletter {
	padding: 50px 10px;
	text-align: center;
	width: 100%;
	background-color: $dark-purple;

	h1 {
	font-family: $primary-font;
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
	margin: auto;
	text-align: center;

	@media screen and (max-width: 500px) {
			font-size: 36px;
		}
}

	p {
		font-size: 18px;
		text-align: center;
		line-height: 30px;
		color: #fff;
		margin: 0 auto 20px;
		width: 80%;
		padding: 0;

		@media screen and (max-width: 500px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

#shows {
	background-color: #f0f0f0;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: block;
			max-width: 650px;
			padding: 10px;
			border: 2px solid $dark-purple;
			margin: 0 auto 5px;
			box-sizing: border-box;
			text-transform: uppercase;
			text-align: left;

			a {
				text-decoration: none;
				color: $dark-purple;

				&:hover {
					color: #fff;
				}
			}

			&:hover {
				background-color: $dark-purple;
				color: #fff;
				border-color: $dark-purple;

				a {
					color: #fff;
				}
			}
		}
	}
}


#music .video-container {
	margin: auto;
}

#music .body-text {
	width: 70%;
	margin: auto;
}

#music p {
	margin: 0 auto 15px;
	padding: 0 15px;
}

.soundcloud {
	margin-bottom: 50px;

	.g-background-default {
		background-color: #fff;
	}
}

.video-js {
	margin: 0 auto;

	.vjs-big-play-button {
		background-color: $purple;
		opacity: .8;
		font-size: 4.5em;

		&:hover {
			background-color: lighten($purple, 10%);
		}
	}
}

.my-video-dimensions {
	@media screen and (max-width: 640px) {
		width: 100%;
		height: 400;
	}
}
