.main {

	position: fixed;
	top: 0;
	z-index: 20;
	letter-spacing: 3px;
	padding: 25px 40px;
	width: 100%;
	-webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;

    .left-nav {

    	float:left;

		a {
			text-decoration: none;
			position: relative;
			color: #fff;
			display: inline-block;
			margin-right: 20px;
			font-family: $secondary-font;
			font-weight: bold;
			text-transform: uppercase;
			list-style-type: none;
			font-size: 14px;
			-webkit-transition: color 500ms ease;
    		-moz-transition: color 500ms ease;
    		-o-transition: color 500ms ease;
    		transition: color 500ms ease;
		}

		/* Effect 12: circle */
		a::before,
		a::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			border: 2px solid rgba(255,0,164,0.4);
			border-radius: 50%;
			content: '';
			opacity: 0;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			-moz-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
			-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
			transform: translateX(-50%) translateY(-50%) scale(0.2);
		}

		a::after {
			width: 40px;
			height: 40px;
			border-width: 6px;
			-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
			-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
			transform: translateX(-50%) translateY(-50%) scale(0.8);
		}

		a:hover::before,
		a:hover::after,
		a:focus::before,
		a:focus::after {
			opacity: 1;
			-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
			-moz-transform: translateX(-50%) translateY(-50%) scale(1);
			transform: translateX(-50%) translateY(-50%) scale(1);
		}
	}

	.social {
		float: right;
		color: #fff;

		a {
			color: #fff;
			margin-left: 10px;
			-webkit-transition: color 500ms ease;
    		-moz-transition: color 500ms ease;
    		-o-transition: color 500ms ease;
    		transition: color 500ms ease;
		}
	}

	@media screen and(max-width: 710px) {
		display: none;
	}
}

#responsive-nav {
	display: none;
	font-family: $secondary-font;
	font-size: 20px;
	font-weight: bold;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background: rgba(255,255,255,1);

	@media screen and (max-width: 710px) {
		display: inline;
	}

	ul {
		list-style-type: none;
		text-transform: uppercase;
		font-family: $secondary-font;
		margin: 0;
		text-align: center;
		padding: 0;
		background: rgba(255,255,255,.9);
		width: 100%;
	}

	li {
		padding: 15px;
		border-top: 1px solid #ebebeb;
	}

	a {
		text-decoration: none;
		color: $dark-purple;

		&:visited {
			color: $dark-purple;
		}
	}

	p {
		text-align: right;
		margin-right: 20px;
		padding: 20px 0;
	}
}

.bandcamp {
	display: inline-block;
	background: url('../images/bc-logo.png');
	width: 42px;
	height: 13px;
}