#photos-header {
	color: #fff;
	background-color: $dark-purple;
	height: 250px;
	padding: 150px 0; 
	text-align: center;

	@media screen and (max-width: 710px) {
		margin-top: 50px;
	}

	h1 {
		color: #fff;
	}

	p {
		width: 75%;
		margin: auto;

		@media screen and (max-width: 500px) {
			width: 85%;
		}
	}

	.box {
		padding: 0;
		font-family: $primary-font;
		text-transform: uppercase;
		font-weight: normal;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
	}

	/* Common button styles */
	.button {
		float: left;
		min-width: 150px;
		max-width: 250px;
		display: block;
		margin: 1em;
		border: none;
		background: none;
		color: inherit;
		vertical-align: middle;
		position: relative;
		z-index: 1;
		-webkit-backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
	}

	.button:focus {
		outline: none;
	}
	.button > span {
		vertical-align: middle;
	}

		/* Borders */
	.button--border-thin {
		border: 1px solid;
	}

	.button--text-thick {
		font-weight: 600;
	}

	/* Winona */
	.button--winona {
		overflow: hidden;
		padding: 1em 2em;
		position: relative;
		-webkit-transition: border-color 0.3s, background-color 0.3s;
		transition: border-color 0.3s, background-color 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
	.button--winona::after {
		content: attr(data-text);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 13px;
		left: 0;
		opacity: 0;
		color: #000;
		-webkit-transform: translate3d(0, 25%, 0);
		transform: translate3d(0, 25%, 0);
	}
	.button--winona > span {
		display: block;
	}
	.button--winona.button--inverted {
		color: #fff;
	}
	.button--winona.button--inverted:after {
		color: #000;
	}
	.button--winona::after,
	.button--winona > span {
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
	.button--winona:hover {
		border-color: #000;
		background-color: none;
	}
	.button--winona.button--inverted:hover {
		border-color: #000;
		background-color: none;
	}
	.button--winona:hover::after {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.button--winona:hover > span {
		opacity: 0;
		-webkit-transform: translate3d(0, -25%, 0);
		transform: translate3d(0, -25%, 0);
	}

}

.image-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	max-width: 1100px;
	margin: 24px auto;
	box-sizing: border-box;
  	height: auto !important;
}

.image-column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;

	img {
		margin-top: 8px;
		vertical-align: middle;
		max-height: 400px;
		max-width: 100%;
		object-fit: cover;
		object-position: center;
	}
}