.advertise-body {

	.main-nav {

		.main-button {
			font-size: 1em;
			padding: .75em;
			height: auto;
		}

		.nav-logo {
			margin-top: 7px;
		}
	}

	header {
		background: $secondary-color;
		margin: 0;
		height: auto;
		width: 100%;
		font-size: 1em;
		text-align: left;

		@media screen and (max-width: 1000px) {
			padding: 0;
		}

		h1 {
			color: $primary-color;
			margin-bottom: .5em;

			@media screen and (max-width: 1050px) {
				font-size: 2.75em;
			}
		}

		button {
			margin-top: .5em;
		}
	}

	.header-data {
		list-style-type: none;
		font-size: 1.5em;
		color: #fff;
		margin: 0 0 .5em 1.25em;
		padding: 0;

		@media screen and (max-width: 1050px) {
			font-size: 1.25em;
		}

		strong {
			font-size: 2.16em;
			font-weight: normal;

			@media screen and (max-width: 1050px) {
				font-size: 1.75em;
			}
		}
	}

	.header-left {
		width: 55%;
		float: left;
		box-sizing: border-box;
		padding-top: 2em;

		@media screen and (max-width: 1050px) {
			width: 50%;
		}

		@media screen and (max-width: 900px) {
			width: 100%;
			float: none;
			text-align: center;
			margin-bottom: 2.5em;
		}
	}

	.header-right {
		width: 45%;
		float: left;
		box-sizing: border-box;
		text-align: right;

		img {
			max-width: 100%;
			height: auto;
		}

		@media screen and (max-width: 1050px) {
			width: 50%;
		}

		@media screen and (max-width: 900px) {
			width: 100%;
			float: none;
			text-align: center;
		}
	}

	.app-visibility {
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		padding: $default-container-padding;
		background-color: #fff;

		@media screen and (max-width: 1000px) {
			padding: 0;
		}
	}

	.visibility {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			width: 33%;
			box-sizing: border-box;
			margin: 0;
			padding: 0 1em;
			text-align: center;
			min-height: 250px;
			vertical-align: top;
			color: $med-gray;

			img {
				max-width: 160px;
				height: auto;
				margin-bottom: .5em;
			}

			@media screen and (max-width: 780px) {
				display: block;
				width: 100%;
			}
		}
	}


	.social-amplification {
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		background-color: darken($secondary-color, 10%);
		padding: $default-container-padding;
		color: #fff;

		@media screen and (max-width: 1000px) {
			padding: 0;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin: 0 1em;
				height: 140px;
				width: 170px;
				vertical-align: top;

				@media screen and (max-width: 780px) {
					display: block;
					width: 100%;
				}
			}

			p {
				margin: 0;
				font-size: 1.5em;
				font-weight: bold;
			}
		}
	}

	.white-bg-section {
		width: 100%;
		text-align: center;
		padding: 0 5em;
		box-sizing: border-box;
		background-color: #fff;
		display: inline-block;


		@media screen and (max-width: 1000px) {
			padding: 0;
		}


		.index-container {
			border-bottom: 1px solid #ddd;
		}

		.main-button {
			margin-top: 1em;
		}

		.img-left, .text-left, .img-right, .text-right {
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
			padding: 0 1em;

			@media screen and (max-width: 780px) {
				display: block;
			}

		}

		.text-left, .text-right {
			width: 60%;

			@media screen and (max-width: 780px) {
				width: 100%;
			}
		}

		.img-left, .img-right {
			text-align: center;

			@media screen and (max-width: 780px) {
				width: 100%;
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}

		p, ul, li {
			color: $med-gray;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

	}


	#freemyapps-form {
		iframe {
			width: 520px;
			height: 900px;

			@media screen and (max-width: 560px) {
				width: 100%;
			}
		}
	}

	#contactus {
		.index-container {
			border-bottom: none;
		}
	}
}