header {
	background-color: $secondary-color;
	height: 500px;
	width: 100%;
	padding: 2.75em;
	box-sizing: border-box;
}

.index-header {
	background: url('../images/home-header-bg.png') repeat-x center top fixed;
	padding: 0;
	position: relative;
	color: #fff;
	height: 640px;

	@media screen and (max-width: 785px) {
		height: 750px;
	}

	@media screen and (max-width: 440px) {
		height: 820px;
	}

	@media screen and (max-width: 350px) {
		height: 870px;
	}

	.header-left {
		max-width: 640px;
		float: left;
		margin-top: 100px;

		@media screen and (max-width: 985px) {
			max-width: 540px;
			margin-top: 15px;
		}

		@media screen and (max-width: 785px) {
			max-width: 90%;
			float: none;
			text-align: center;
			margin: 0 auto 2em;
		}
	}

	p {
		margin-bottom: 15px;
	}

	.ground {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-width: 100%;
		height: 100px;
		z-index: 500;
	}

	.index-container {
		padding: 5em 0 0 0;
		box-sizing: border-box;

		@media screen and (max-width: 1000px) {
			padding: 8em 2em 0;
			box-sizing: border-box;
		}

		@media screen and (max-width: 785px) {
			padding: 4em 2em 0;
			box-sizing: border-box;
		}
	}

	.appstronaut-header {
		height: 330px;
		width: auto;
		float: right;
		@include animation-duration(2s);
		@include animation-name(bouncesmooth);
		@include animation-iteration-count(infinite);
		@include animation-direction(alternate);
		@include animation-timing-function(ease-in-out);
		z-index: 1000;

		@media screen and (max-width: 985px) {
			height: 300px;
			width: auto;
		}

		@media screen and (max-width: 785px) {
			max-width: 90%;
			float: none;
			text-align: center;
			margin: 0 auto;
			display: block;
			height: 250px;
			width: auto;
		}

		@media screen and (max-width: 500px) {
			height: 175px;
			width: auto;
		}
	}
}

@keyframes bouncesmooth {
	from {
		padding-top: 5px;
	}
	to {
		padding-top: 30px;
	}
}

@-webkit-keyframes bouncesmooth {
	from {
		padding-top: 5px;
	}
	to {
		padding-top: 30px;
	}
}

@-moz-keyframes bouncesmooth {
	from {
		padding-top: 5px;
	}
	to {
		padding-top: 30px;
	}
}

@keyframes apporbit {
	from {
		-webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg);
	}
}

@-webkit-keyframes apporbit {
	from {
		-webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg);
	}
}

@-moz-keyframes apporbit {
	from {
		-webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg);
	}
}

@keyframes yellowstar {
	from {
		opacity: 1;
	}

	to {
		opacity: .5;
	}
}

@-webkit-keyframes yellowstar {
	from {
		opacity: 1;
	}

	to {
		opacity: .5;
	}
}

@-moz-keyframes yellowstar {
	from {
		opacity: 1;
	}

	to {
		opacity: .5;
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.steps {

	box-sizing: border-box;
	padding: 2.75em 0;
	width: 100%;
	margin: 0 auto;
	color: $dark-gray;
	background-color: $light-gray;
	text-align: center;

	@media screen and (max-width: 1000px) {
		padding: 0;
	}


	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			box-sizing: border-box;
			padding: 10px;
			width: 33%;
			float: left;
			text-align: center;

			p {
				font-size: 1.25em;
			}

			@media screen and (max-width: 750px) {
				margin: 0 auto;
				width: 100%;
				float: none;
			}
		}
	}


	h3 {
		display: inline-block;
		width: 50px; height: 50px;
		box-sizing: border-box;
		padding-top: 7px;
		border-radius: 100px;
		border: 2px solid $secondary-color;
		color: $secondary-color;
		margin-bottom: 10px;
	}

	ul {
		color: $dark-gray;
	}
}

.rewards-table div {
	border-bottom: 1px solid $light-gray;

	td {
		padding: 10px;

		b {
			color: $third-color;
		}
	}
}

.discover-apps, .get-rewards {
	width: 100%;
	padding: 2.75em 0;
	height: 620px;
	box-sizing: border-box;

	@media screen and (max-width: 1000px) {
		padding: 0;
	}
}

.how {
	text-align: center;
}

/*

.left, .right {
	width: 50%;
	box-sizing: border-box;
}

.left {
	float: left;
}

.right {
	float: right;
}

*/

.discover-apps {
	background-color: $secondary-color;
	color: #fff;
	text-align: center;
	box-sizing: border-box;

	@media screen and (max-width: 880px) {
		height: auto;
	}

	h2 {
		margin-bottom: 1em;
	}

	.vertical-align {
		height: 400px;

		&:before {
			content: "";
			display:inline-block;
			vertical-align: middle;
			height: 100%;

			@media screen and (max-width: 880px) {
				display: none;
			}
		}

		@media screen and (max-width: 880px) {
			height: auto;
		}
	}

	.quote {
		font-style: italic;
		font-size: 1.25em;
	}

	.left {
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		position: relative;
		text-align: left;
		height: 100%;

		@media screen and (max-width: 880px) {
			float: none;
			display: block;
			text-align: center;
			margin: 0 auto;
			width: 100%;
			height: 390px;
		}

		@media screen and (max-width: 500px) {
			height: 275px;
		}
	}

	.right {
		width: 48%;
		box-sizing: border-box;
		vertical-align: middle;
		display: inline-block;
		text-align: left;

		@media screen and (max-width: 880px) {
			float: none;
			display: block;
			text-align: center;
			margin: 0 auto;
			width: 100%;
			height: auto;
		}
	}

	.quote-image {
		width: 50px;
		height: auto;
	}

	.appstronaut-discover {
		height: 360px;
		width: auto;
		position: absolute;
		left: 85px;
		@include animation-duration(2s);
		@include animation-name(bouncesmooth);
		@include animation-iteration-count(infinite);
		@include animation-direction(alternate);
		@include animation-timing-function(ease-in-out);
		z-index: 100;

		@media screen and (max-width: 985px) {
			height: 350px;
			width: auto;
			left: 110px;
		}

		@media screen and (max-width: 880px) {
			width: 220px;
			height: auto;
			left: 50%;
			margin: 0 0 0 -110px;
		}

		@media screen and (max-width: 785px) {
			height: auto;
			width: 180px;
			left: 50%;
			margin: 0 0 0 -90px;
		}

		@media screen and (max-width: 500px) {
			width: 140px;
			height: auto;
			left: 50%;
			margin: 0 0 0 -70px;
		}
	}

	.amazon {
		height: auto;
		width: 110px;
		position: absolute;
		top: 50px;
		left: 35px;
		z-index: 50;
		@include animation-duration(4s);
		@include animation-name(apporbit);
		@include animation-iteration-count(infinite);
		@include animation-direction(linear);
		@include animation-timing-function(linear);

		@media screen and (max-width: 985px) {
			height: auto;
			width: 95px;
			left: 30px;
		}

		@media screen and (max-width: 880px) {
			height: auto;
			width: 100px;
			left: 32%;
			margin: 0 0 0 -50px;
		}

		@media screen and (max-width: 880px) {
			height: auto;
			width: 70px;
			left: 32%;
			margin: 0 0 0 -35px;
		}
	}

	.apple-card {
		height: auto;
		width: 125px;
		position: absolute;
		top: 195px;
		z-index: 50;
		@include animation-duration(8s);
		@include animation-name(apporbit);
		@include animation-iteration-count(infinite);
		@include animation-direction(linear);
		@include animation-timing-function(linear);

		@media screen and (max-width: 985px) {
			height: auto;
			width: 95px;
			left: 27px;
		}

		@media screen and (max-width: 880px) {
			height: auto;
			width: 90px;
			left: 30%;
			top: 165px;
			margin: 0 0 0 -45px;
		}

		@media screen and (max-width: 500px) {
			height: auto;
			width: 64px;
			left: 30%;
			top: 120px;
			margin: 0 0 0 -32px;
		}
	}

	.googleplay {
		height: auto;
		width: 130px;
		position: absolute;
		top: 230px;
		left: 300px;
		z-index: 40;
		@include animation-duration(8s);
		@include animation-name(apporbit);
		@include animation-iteration-count(infinite);
		@include animation-direction(linear);
		@include animation-timing-function(linear);

		@media screen and (max-width: 985px) {
			height: auto;
			width: 75px;
		}

		@media screen and (max-width: 880px) {
			height: auto;
			width: 100px;
			left: 60%;
			margin: 0 0 0 -50px;
			top: 210px;
		}

			@media screen and (max-width: 500px) {
			height: auto;
			width: 76px;
			left: 67%;
			top: 145px;
			margin: 0 0 0 -38px;
		}
	}

	.hulu {
		height: auto;
		width: 95px;
		position: absolute;
		top: 110px;
		left: 250px;
		z-index: 30;
		@include animation-duration(6s);
		@include animation-name(apporbit);
		@include animation-iteration-count(infinite);
		@include animation-direction(linear);
		@include animation-timing-function(linear);


		@media screen and (max-width: 880px) {
			height: auto;
			width: 70px;
			top: 85px;
			left: 65%;
			margin: 0 0 0 -35px;
		}

		@media screen and (max-width: 500px) {
		}
	}
		

	.steam {
		height: auto;
		width: 95px;
		position: absolute;
		top: 345px;
		left: 80px;
		z-index: 30;
		@include animation-duration(6s);
		@include animation-name(apporbit);
		@include animation-iteration-count(infinite);
		@include animation-direction(linear);
		@include animation-timing-function(linear);

		@media screen and (max-width: 985px) {
			height: auto;
			width: 65px;
			top: 275px;
			left: 70px;
		}

		@media screen and (max-width: 880px) {
			height: auto;
			top: 275px;
			width: 70px;
			left: 40%;
			margin: 0 0 0 -35px;
		}

		@media screen and (max-width: 500px) {
			top: 185px;
		}
	}

	.clouds {
		width: 436px;
		height: auto;
		position: absolute;
		z-index: 10;
		top: 140px;
		left: 0;

		@media screen and (max-width: 985px) {
			width: 360px;
			height: auto;
			left: 22px;
		}

		@media screen and (max-width: 880px) {
			left: 50%;
			margin: 0 0 0 -180px;
		}

		@media screen and (max-width: 500px) {
			width: 250px;
			height: auto;
			left: 50%;
			top: 110px;
			margin: 0 0 0 -125px;
		}
	}
}		


.more-cards {
	text-align: center;
	background-color: darken($secondary-color, 10%);
	color: #fff;
}

/*

.get-rewards {
	background-color: darken($primary-color, 10%);
	color: $dark-gray;
	text-align: left;
	height: 600px;

	.main-button {
		background-color: $dark-gray;
		color: #fff;
		@include box-shadow(2px, 2px, 0, darken($dark-gray, 20%));

		&:hover {
			background-color: lighten($dark-gray, 10%);
		}
	}

	@media screen and (max-width: 880px) {
		height: auto;
	}

	.left {
		margin-top: 100px;

		@media screen and (max-width: 880px) {
			float: none;
			text-align: center;
			margin: 0 auto;
			width: 100%;
		}
	}

	.right {
		position: relative;

		@media screen and (max-width: 880px) {
			float: none;
			text-align: center;
			margin: 0 auto;
			height: 400px;
			width: 100%;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		.giftcards {
			position: absolute;
			left: 120px;
			top: 50px;

			@media screen and (max-width: 985px) {
				width: 250px;
				height: auto;
				top: 80px;
			}

			@media screen and (max-width: 880px) {
				left: 50%;
				margin: 0 0 0 -125px;
			}
		}
		.star {
			position: absolute;
		}

		.yellowstar1 {
			top: 50px;
			left: 70px;
			@include animation-duration(1s);
			@include animation-name(yellowstar);
			@include animation-iteration-count(infinite);
			@include animation-direction(alternate);
			@include animation-timing-function(ease-in-out);

			@media screen and (max-width: 880px) {
				width: 40px;
				height: auto;
				left: 20%;
				margin: 0 0 0 -20px;
			}
		}

		.yellowstar2 {
			top: 85px;
			left: 205px;
			height: 30px;
			width: auto;
			@include animation-duration(1s);
			@include animation-name(yellowstar);
			@include animation-iteration-count(infinite);
			@include animation-direction(alternate);
			@include animation-timing-function(ease-in-out);
			@include animation-delay(.5s);

			@media screen and (max-width: 880px) {
				width: 30px;
				height: auto;
				left: 40%;
				margin: 0 0 0 -15px;
				top: 90px;
			}

		}

		.yellowstar3 {
			top: 290px;
			left: 160px;
			height: 15px;
			width: auto;
			@include animation-duration(2s);
			@include animation-name(yellowstar);
			@include animation-iteration-count(infinite);
			@include animation-direction(alternate);
			@include animation-timing-function(ease-in-out);

			@media screen and (max-width: 985px) {
				top: 265px;
			}

			@media screen and (max-width: 880px) {
				width: 15px;
				height: auto;
				left: 30%;
				top: 255px;
				margin: 0 0 0 -7.5px;
			}
		}

		.yellowstar4 {
			top: 150px;
			left: 475px;
			height: 15px;
			width: auto;
			@include animation-duration(1s);
			@include animation-name(yellowstar);
			@include animation-iteration-count(infinite);
			@include animation-direction(alternate);
			@include animation-timing-function(ease-in-out);
			@include animation-delay(3s);

			@media screen and (max-width: 985px) {
				left: 370px;
			}

			@media screen and (max-width: 880px) {
				width: 15px;
				height: auto;
				left: 90%;
				top: 115px;
				margin: 0 0 0 -20px;
			}
		}

		.yellowstar5 {
			top: 390px;
			left: 430px;
			height: 25px;
			width: auto;
			@include animation-duration(.5s);
			@include animation-name(yellowstar);
			@include animation-iteration-count(infinite);
			@include animation-direction(alternate);
			@include animation-timing-function(ease-in-out);
			@include animation-delay(4s);

			@media screen and (max-width: 985px) {
				top: 360px;
				left: 275px;
			}

			@media screen and (max-width: 880px) {
				width: 24px;
				height: auto;
				left: 75%;
				top: 350px;
				margin: 0 0 0 -12px;
			}
		}

		.whitestar1 {
			top: 0;
			left: 310px;
			@include animation-duration(5s);
			@include animation-name(spin);
			@include animation-iteration-count(infinite);
			@include animation-direction(linear);
			@include animation-timing-function(linear);

			@media screen and (max-width: 985px) {
				top: 37px;
			}

			@media screen and (max-width: 880px) {
				width: 30px;
				height: auto;
				left: 80%;
				margin: 0 0 0 -15px;
				top: 50px;
			}
		}

		.whitestar2 {
			top: 170px;
			left: 64px;
			@include animation-duration(3s);
			@include animation-name(spin);
			@include animation-iteration-count(infinite);
			@include animation-direction(linear);
			@include animation-timing-function(linear);

			@media screen and (max-width: 880px) {
				left: 20px;
			}

			@media screen and (max-width: 880px) {
				width: 30px;
				height: auto;
				left: 10%;
				margin: 0 0 0 -15px;
				top: 210px;
			}
		}

		.whitestar3 {
			top: 300px;
			left: 80px;
			@include animation-duration(7s);
			@include animation-name(spin);
			@include animation-iteration-count(infinite);
			@include animation-direction(linear);
			@include animation-timing-function(linear);

			@media screen and (max-width: 880px) {
				width: 30px;
				height: auto;
				left: 23%;
				margin: 0 0 0 -15px;
				top: 330px;
			}
		}

		.whitestar4 {
			top: 200px;
			left: 430px;
			@include animation-duration(4s);
			@include animation-name(spin);
			@include animation-iteration-count(infinite);
			@include animation-direction(linear);
			@include animation-timing-function(linear);

			@media screen and (max-width: 985px) {
				left: 340px;
			}

			@media screen and (max-width: 880px) {
				width: 30px;
				height: auto;
				left: 85%;
				margin: 0 0 0 -15px;
				top: 210px;
			}
		}

		.whitestar5 {
			top: 365px;
			left: 370px;
			@include animation-duration(3s);
			@include animation-name(spin);
			@include animation-iteration-count(infinite);
			@include animation-direction(linear);
			@include animation-timing-function(linear);

			@media screen and (max-width: 985px) {
				top: 305px;
			}

			@media screen and (max-width: 880px) {
				width: 30px;
				height: auto;
				left: 90%;
				margin: 0 0 0 -15px;
				top: 305px;
			}
		}
	}
}

.white-popup {
	position: relative;
	background: #fff;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	border-radius: 10px;
}

*/

.youtube-embed {
	text-align: center;
	background: url('../images/horizontal_iphone_video.png') no-repeat center center;
	position: relative;
	padding-bottom: 46.25%;
	height: 0;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 0;
	text-align: center;
	position: relative;
	background-size: 100%;

	@media screen and (max-width: 750px) {
		padding-bottom: 49.25%;
		width: 100%;
	}

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 75%;
		height: 72%;
		margin: 8% auto;

		@media screen and (max-width: 750px) {
			height: 84%;
			margin: 4% auto;
		}
	}

}

.started {
	background-color: $secondary-color;
	color: #fff;
	height: 475px;
	position: relative;
	text-align: center;

	@media screen and (max-width: 785px) {
		height: auto;
		box-sizing: border-box;
	}


	h2, p {
		width: 270px;

		@media screen and (max-width: 420px) {
			width: 70%;
		}
	}

	h2 {
		margin-top: 170px;
		font-size: 1.5em;

		@media screen and (max-width: 785px) {
			margin-top: 0;
		}
	}

	p {
		margin: 0 auto 10px;
	}

	.iPhone, .android {
		width: 50%;
		float: left;
		text-align: center;
		height: 100%;

		@media screen and (max-width: 785px) {
			float: none;
			width: 100%;
			height: 500px;
			box-sizing: border-box;
			padding-top: 200px;
		}

		@media screen and (max-width: 420px) {
			height: 450px;
			padding-top: 190px;
		}

	}

	.iPhone {
		background: url('../images/iphone-getstarted.png') no-repeat center bottom;

		@media screen and (max-width: 420px) {
			background-size: 88%;
		}
	}

	.android {
		background: url('../images/android-getstarted.png') no-repeat center bottom;
		background-color: darken($secondary-color, 5%);

		@media screen and (max-width: 420px) {
			background-size: 88%;
		}

		img {
			width: 250px;
			height: auto;
		}
	}

	.apponaut-show {
		position: absolute;
		width: 348px;
		height: auto;
		bottom: 0;
		left: 50%;
		margin-left: -174px;

		@media screen and (max-width: 785px) {
			display:none;
		}
	}

}

.advertise-home {
	text-align: left;
	color: $dark-gray;
	height: 475px;
	box-sizing: border-box;
	position: relative;
	background: url('../images/rocket-advertise.png') $primary-color no-repeat bottom right;
	

	@media screen and (max-width: 1140px) {
		background-size: 100%;
	}

	@media screen and (max-width: 785px) {
		text-align: center;
		height: 400px;
	}

	.index-container {
		box-sizing: border-box;
	}

	h2 {
		max-width: 430px;
		padding-top: 3.5em;
		margin: 0 0 .5em 0;

		@media screen and (max-width: 785px) {
			text-align: center;
			width: 100%;
			margin: 0 auto .5em;
			padding-top: 1em;
		}
	}

	.main-button {
		background-color: $dark-gray;
		color: #fff;
		@include box-shadow(2px, 2px, 0, darken($dark-gray, 20%));

		&:hover {
			background-color: lighten($dark-gray, 10%);
		}

		@media screen and (max-width: 785px) {
			text-align: center;
			margin: 0 auto;
		}
	}
}
