
.terms, .privacy {
	box-sizing: border-box;
	width: 100%;

	.terms-container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 2.75em;
	}


	ol, ul {

		li {
			margin-bottom: 5px;
		}
	}

	h3 {
		margin-bottom: 10px;
	}

	a {
		color: $secondary-color;

		&:visited {
			color: darken($secondary-color, 15%);
		}

		&:hover {
			color: darken($secondary-color, 10%);
		}
	}
}